  .button:before {
    content: '';
    position: absolute;
    border: $body-dark solid 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition-duration: 0.3s;
    transition-property: top, right, bottom, left;
  }

  .button:hover:before,
  .button:focus:before,
  .button:active:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
  }


  h2:hover {
    color: $body-dark;
    cursor: pointer;
  }

  .hov:hover .code {
    background: $body-light;

  }

  .hov:hover .symbol {
    background: $body-light;
    color: $body-dark;
    text-shadow: none;
  }
