/* Font - size */

$small: 14px;
$medium: 18px;
$large: 24px;
$xlarge: 32px;
$epic: 48px;
$jumbo: 64px;

/* Layout - colors */

$lock-light: rgb(238, 241, 234);
$lock-mid: rgb(174, 198, 208);
$lock-dar: rgb(26, 30, 29);

$body-light: rgb(251, 224, 155);
$body-mid: rgb(234, 193, 129);
$body-dark: rgb(177, 139, 77);

$gradient1: #EAEAEA;
$gradient2: #DBDBDB;
$gradient3: #F2F2F2;
$gradient4: #ADA996;
